<% layout("./boilerplate/boilerplate") %>
	<div class="content-body">
		<form action="/logout" type="submit" method="POST">
			<button>
				LOGOUT
			</button>
		</form>
		<div>
			<p>
				First Name : <%= user.firstName %>
			</p>
			<P>
				Last Name : <%= user.lastName %>
			</P>
			<p>
				email ID :<%= user.email %>
			</p>

		</div>
	</div>