<% layout("./boilerplate/sessionBoilerplate") %>
	<script src="/js/resetForm.js"></script>
	<div id="contents-div">
		<h1> Reset Password</h1>
		<p>
			Dear <%= user.username %>
				Enter Your password for password reset
		</p>
		<div id="rid" style="visibility:hidden;">
			<%= uid %>
		</div>
		<form id="passwordReset" onsubmit="event.preventDefault();">
			<!-- <label for="email">Email ID</label>
	<input type="email" name="login[email]" id="email"> -->
			<div>
				<label for="password"> Enter Password</label>
				<input class="input-tag" type="password" name="login[password]" id="password">

			</div>
			<div>
				<label for="password">Re Enter Password</label>
				<input class="input-tag" type="password" id="passwordCheck">

			</div>

			<button id="submit-button" onclick="resetPassword()">submit</button>
		</form>
	</div>