<!-- for creating new user and login/logout -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon"
		type="image/png"
		href="/images/50_sabencos_trd.png">
	<!-- Google Font for brand header-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ewert&family=KoHo:ital,wght@1,300&display=swap"
		rel="stylesheet">
	<!-- For Login and other title -->
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/userSessionNav.css">
	<title>SABENCOS</title>

</head>

<body>
	<%- include("../partials/sessionSider") %>

		<%- body %>
</body>

</html>